In [1]:
import pandas as pd

### 'Record_id' : record id
### 'Utility_id_ferc1': Utility id assigned by the FERC
### 'Report_year': year of report
### 'Plant_name_ferc1': the name of the plant
### 'Fuel_type_code_pudl': the type of fuel
### 'Fuel_unit': the unit of fuel
### 'Fuel_qty_burned': the quantity of fuel burned
### 'Fuel_mmbtu_per_unit': the measure of energy per unit
### 'fuel_cost_per_unit_burned': the fuel cost per unit burned
### 'Fuel_cost_per_unit_delivered': the cost of fuel delivered per unit
### 'fuel_cost_per_mmbtu': the cost of fuel per mmbtu}

In [6]:
file = 'fuel_ferc1_2.csv'
df = pd.read_csv(file)

In [7]:
df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [29]:
df.shape

(29523, 11)

In [10]:
df.dtypes

record_id                        object
utility_id_ferc1                  int64
report_year                       int64
plant_name_ferc1                 object
fuel_type_code_pudl              object
fuel_unit                        object
fuel_qty_burned                 float64
fuel_mmbtu_per_unit             float64
fuel_cost_per_unit_burned       float64
fuel_cost_per_unit_delivered    float64
fuel_cost_per_mmbtu             float64
dtype: object

In [20]:
grouped = df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()

In [23]:
grouped.idxmin()

'gas'

In [9]:
df.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [25]:
df['fuel_qty_burned'].skew()

15.851495469109503

In [26]:
df['fuel_qty_burned'].kurtosis()

651.3694501337732

In [34]:
pd.isna(df).sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [37]:
df['fuel_unit'].value_counts(normalize=True,dropna=False)

mcf       0.384582
ton       0.303424
bbl       0.270907
gramsU    0.015717
mmbtu     0.006097
NaN       0.006097
kgU       0.003726
mwhth     0.003387
mwdth     0.003218
gal       0.002845
Name: fuel_unit, dtype: float64

In [40]:
df.corr()['fuel_cost_per_unit_burned'].sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [47]:
df.groupby('report_year')['fuel_cost_per_unit_burned'].sum().pct_change(periods=4)

report_year
1994         NaN
1995         NaN
1996         NaN
1997         NaN
1998   -0.467365
1999   -0.703858
2000    2.777777
2001    0.102928
2002   -0.130617
2003    0.183406
2004   -0.434486
2005   -0.246397
2006    0.543145
2007    0.716863
2008    0.702318
2009    0.939203
2010    0.762400
2011    0.460971
2012    0.023485
2013    0.164458
2014    0.562218
2015   -0.304976
2016   -0.205813
2017   -0.203221
2018   -0.572250
Name: fuel_cost_per_unit_burned, dtype: float64

In [41]:
df.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().idxmax()

1997

In [13]:
import numpy as np

In [14]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [18]:
a = [1,2,3]
b=[4,5,6]
a.extend(b)

In [19]:
a

[1, 2, 3, 4, 5, 6]