In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
df = df.drop(['date','lights'],axis=1)

In [4]:
from sklearn.preprocessing import MinMaxScaler

ms = MinMaxScaler()
scaled_df = pd.DataFrame(ms.fit_transform(df),columns=df.columns)
scaled_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [5]:
X = scaled_df.drop('Appliances',axis=1)
y = scaled_df['Appliances']

print(X.head(),y.head())

        T1      RH_1        T2      RH_2        T3      RH_3        T4  \
0  0.32735  0.566187  0.225345  0.684038  0.215188  0.746066  0.351351
1  0.32735  0.541326  0.225345  0.682140  0.215188  0.748871  0.351351
2  0.32735  0.530502  0.225345  0.679445  0.215188  0.755569  0.344745
3  0.32735  0.524080  0.225345  0.678414  0.215188  0.758685  0.341441
4  0.32735  0.531419  0.225345  0.676727  0.215188  0.758685  0.341441

       RH_4        T5      RH_5  ...        T9      RH_9     T_out  \
0  0.764262  0.175506  0.381691  ...  0.223032  0.677290  0.372990
1  0.782437  0.175506  0.381691  ...  0.226500  0.678532  0.369239
2  0.778062  0.175506  0.380037  ...  0.219563  0.676049  0.365488
3  0.770949  0.175506  0.380037  ...  0.219563  0.671909  0.361736
4  0.762697  0.178691  0.380037  ...  0.219563  0.671909  0.357985

   Press_mm_hg    RH_out  Windspeed  Visibility  Tdewpoint       rv1       rv2
0     0.097674  0.894737   0.500000    0.953846   0.538462  0.265449  0.265449
1     0.100000  0.894737   0.476190    0.894872   0.533937  0.372083  0.372083
2     0.102326  0.894737   0.452381    0.835897   0.529412  0.572848  0.572848
3     0.104651  0.894737   0.428571    0.776923   0.524887  0.908261  0.908261
4     0.106977  0.894737   0.404762    0.717949   0.520362  0.201611  0.201611

[5 rows x 26 columns] 0    0.046729
1    0.046729
2    0.037383
3    0.037383
4    0.046729
Name: Appliances, dtype: float64

In [6]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

le = LinearRegression().fit(x_train,y_train)
pred = le.predict(x_test)

In [8]:
mae = metrics.mean_absolute_error(y_test, pred)
mae

0.050134380781476265

In [11]:
rss = np.sum(np.square(y_test - pred))
rss

45.34874241993321

In [12]:
rmse = np.sqrt(metrics.mean_squared_error(y_test,pred))
rmse

0.08751552319169341

In [13]:
r2 = metrics.r2_score(y_test,pred)
r2

0.14888157882781172

In [22]:
weights = le.coef_
weights = pd.Series(weights,index=X.columns)
weights.sort_values(inplace=True)
weights

rv2           -1.238029e+11
RH_2          -4.566329e-01
T_out         -3.218564e-01
T2            -2.361300e-01
T9            -1.899795e-01
RH_8          -1.576087e-01
RH_out        -7.767218e-02
RH_7          -4.461698e-02
RH_9          -3.978489e-02
T5            -1.562201e-02
T1            -3.281051e-03
Press_mm_hg    6.831375e-03
T7             1.036113e-02
Visibility     1.231699e-02
RH_5           1.602249e-02
RH_4           2.636756e-02
T4             2.894337e-02
Windspeed      2.918893e-02
RH_6           3.804630e-02
RH_3           9.602136e-02
T8             1.020035e-01
Tdewpoint      1.177533e-01
T6             2.364303e-01
T3             2.905732e-01
RH_1           5.535496e-01
rv1            1.238029e+11
dtype: float64

In [23]:
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=0.4).fit(x_train,y_train)
r_pred = ridge.predict(x_test)

rmse = np.sqrt(metrics.mean_squared_error(y_test,r_pred))
rmse

0.08753385704628003

In [27]:
from sklearn.linear_model import Lasso

las = Lasso(alpha=0.001).fit(x_train,y_train)
(las.coef_  != 0).sum()

4

In [29]:
l_pred = las.predict(x_test)
rmse = np.sqrt(metrics.mean_squared_error(y_test,l_pred))
rmse

0.09358170467245137

# QUESTION 12

In [10]:
scaled_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [17]:
x12 = scaled_df[['T2']]
y12 = scaled_df[['T6']]

print(X.shape,y.shape)

(19735,) (19735,)

In [21]:
from sklearn import metrics
slr = LinearRegression().fit(x12,y12)
slr.score(x12,y12)

0.6418990830855493